language: node_js
node_js:
  - '5'
  - '4'
  - '3'
  - '2'
  - '0.12'
  - '0.10.16'
sudo: true
before_install:
  - sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
  - sudo apt-get update -qq
  - sudo apt-get install -qq g++-4.8
  - export CXX="g++-4.8" CC="gcc-4.8"
script: npm install . && npm test
